.detailContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.backButton {
  height: 50px;
  width: 100px;
  margin: 20px 0 0 25%;
  cursor: pointer;
  align-self: flex-start;
}
